.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}

.pice-quantity {
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width:576px) {
    .items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}